<div [formGroup]="testForm"
      class="main-container">
    <h2>Test Form</h2>
    <div class="container form-container">
      <form action="/action_page.php">

        <div class="row">
          <input [formControl]="search"
                  class="filter" type="text" placeholder="Фильтр по ключевому слову">
        </div>
        <div class="row">
          <select name="filter" 
                  [formControl]="filter"
                  (change)="onFilterChange()">
            <option value="{{ allFilterOptions.ALL }}">Все</option>
            <option value="{{ allFilterOptions.FAVORITES_ONLY }}">Избранное</option>
          </select>
        </div>
      </form>
    </div>
    <br>
    <br>
    <div class="container item-container">
      <app-items-list [items]="items$ | async"
                      (itemSelected)="onItemSelected($event)"></app-items-list>
    </div>
</div>


