.item {
    width: calc(25% - var(--item-margin));
    margin: var(--item-margin);
    padding: 25px;
    background-color: var(--background-color);
}

@media screen and (max-width: 600px) {
    .item {
        width: 100%;
    }
}